*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#000000;
}

img {
  max-width: 100%;
}

.bg-grey {
  background-color: #222222;
}

.d-flex {
  display: flex;
}

header {
  
}

footer {
  height: 75px;
}

main {
  height: calc(100vh - 75px);
  overflow: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  
}

