*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#000000;
  color: color: #ffffff;
}
 li {
  color: color: #ffffff;
  list-style: none;
 }

 a {
  text-decoration: none;
  color: #ffffff;
 }


.d-flex {
  display: flex;
}

header {
  height: 70px;
}

header nav {
  position: relative;
}

header ul {
  position: absolute;
  top: 5px;
  right: 5px;
}

header ul li {
  padding: 5px;
  background-color: #4a4a4a;
  margin-right: 10px;
  border-radius: 5px;
  font-size: bold;
}

footer {
  height: 75px;
  background-color: #222222;
  
}

main {
  height: calc(100vh - 145px);
  overflow: auto;
}

.container {
  width: 92%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: red;
  width: 240px;
  height: 140px;
  margin: 10px 5px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 0.8rem;
  padding: 5px;
}

